button,
input,
option,
form,
select {
    /*border-radius: 10px/30px !important;*/
    border-radius: 15px !important;
}

header,
.header__top,
.container__header-contents,
.pagewrap {
    border-radius: 15px;
}

header {
    margin-bottom: 0px !important;
}

.pagewrap {
    width: 100%;
    margin: 0 auto;
    /* background-color: #E5D7B4; */
}

form {
    background-color: #6B6152;
    color: #fff;
}

.form-group.row {
    padding-left: 10px;
    padding-right: 10px;
}

#input-code,
#input-price {
    width: 55%;
}

.btn {
    margin-bottom: 10px !important;
}