button,
input,
option,
form,
select {
    /*border-radius: 10px/30px !important;*/
    border-radius: 15px !important;
}

header,
.header__top,
.container__header-contents,
.pagewrap {
    border-radius: 15px;
}

header {
    margin-bottom: 0px !important;
}

.pagewrap {
    width: 100%;
    margin: 0 auto;
    /* background-color: #E5D7B4; */
}

form {
    /* background-color: #52300b; */
    background-image: url(https://www.jonhartdesign.com/v/vspfiles/templates/jonHartRes/images/template/footer-bg.jpg);
    color: #fff;
}

.form-group.row {
    padding-left: 10px;
    padding-right: 10px;
}

#input-code,
#input-price {
    width: 55%;
}

.btn {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.panel {
    border-radius: 15px;
    border-color: #52300b;
}

#panel-heading {
    /* background-color: #52300b; */
    background-image: url(https://www.jonhartdesign.com/v/vspfiles/templates/jonHartRes/images/template/footer-bg.jpg);
    border-radius: 15px;
    color: #fff;
}

#step1 {
    /* background-color: #52300b; */
    background-image: url(https://www.jonhartdesign.com/v/vspfiles/templates/jonHartRes/images/template/footer-bg.jpg);
    border-radius: 15px;
    color: #fff;
    padding-top: 15px;
}

#qo-form {
    padding-top: 15px;
    padding-bottom: 1px;
}